body {

	#leftSide {
		float: left;
		width: 70%;
		display: inline-block;
		#textOutput {
			background-color: #000080;
			height: 1100px;
			padding: 6px;
		}
	}

	#rightSide {
		float: right;
		width: 29.5%;
		display: inline-block;
		#minimap {
			background-color: green;
			height: 400px;
		}

		#input {
			box-sizing: border-box;
			padding: 30px;
			color: #000;
			background-color: yellow;
			height: 200px;
		}
	}

	color: #fff;
	background-color: #000;
  	width: 100%;
  	font-size: 20px;
}